.task__container {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
    cursor: pointer;
}

.task__start {
    display: flex;
    align-items: center;
}

.task__container:hover {
    background-color: #3A3C45;
}

.task__name {
    margin-left: 10px;
}

.task__name__completed {
    margin-left: 10px;
    text-decoration: line-through;
    color: gray;
}

.task__icon__circle {
    font-size: 20px;
    cursor: pointer;
}

.task__icon__done {
    font-size: 20px;
    color: #2684FC;
    cursor: pointer;
}

.task__options {
    cursor: pointer;
}

/*  */

.menu {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #3A3C45;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
  }
  .menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    height: 28px;
    /* border-bottom: 1px solid rgb(187, 187, 187); */
  }

  .menu-icon {
    margin-right: 5px;
  }
  .menu-item:hover {
    color: #2980b9;
  }
