.tasklistinput__container {
  height: 8vh;
  min-width: 30rem;
  background-color: #292a2f;
  margin: 1rem;
  border-radius: 1.5rem;
  display: flex;
  color: #fff;
}

.tasklistinput__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.6rem;
  padding-left: 8.7rem;
}

.tasklistinput__text {
  padding-left: 0.5rem;
}

.tasklist__input_container {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: flex-start;
  align-self: center;
}

.tasklist__inputbox__container {
  display: flex;
  margin-left: 1rem;
  width: 100%;
}

.tasklist__input {
  background: transparent;
  border: none;
  outline: none;
  /* border-bottom: .1rem solid #fff; */
  color: #fff;
}
