.home__container {
  margin-top: 5.5rem;
  padding: 1rem 4rem 1rem;
  color: #fff;
}

.home__tasklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.main__container {
  background-color: #1f2024;
  overflow-y: hidden;
}

.board_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}
