.navbar__container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100vw;
    background-color: rgb(31, 32, 36);
    box-shadow: rgb(169 174 183 / 50%) 0px 1px 2px 0px;
}

.navbar__left {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.navbar__menu {
    color: rgb(255, 255, 255);
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.navbar__logo__text {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.navbar__middle {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-width: 500px;
    width: 100%;
    position: relative;
}

.search__logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: rgb(41, 42, 47);
    border: 1px solid transparent;
    border-radius: 8px;
    width: 50px;
    position: relative;
    height: 40px;
    transition: background 100ms ease-in 0s, width 100ms ease-out 0s;
    justify-content: center;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.search__logo {
    color: rgb(255, 255, 255);
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.input__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: rgb(41, 42, 47);
    border: 1px solid transparent;
    border-radius: 8px;
    width: 500px;
    position: relative;
    height: 40px;
    transition: background 100ms ease-in 0s, width 100ms ease-out 0s;
    justify-content: center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

input {
    background: transparent;
    border: red 1px;
    font-variant-ligatures: none;
    height: 38px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    font-size: 16px;
    color: rgb(221, 221, 221);
    text-overflow: ellipsis;
    overflow: hidden;
}
 
.navbar__right {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.profile__pic {
    /* background-image: url(https://lh3.googleusercontent.com/a-/AOh14Gie83HZ6Lu4OINMLKSt_jwXXHLBG1uItB9-zK6eD5U=s96-c), url(/img/account.png); */
    background-size: contain;
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}