html {
  font-size: 62.5%; /* Default FONT-SIZE of browser is (16px), i.e., (16px = 100%). Therefore,(10px = 62.5%). Here, 10px is taken to make the conversion of (px) to (rem) easier.*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2024;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
