.tasklist__container {
  max-height: 75vh;
  min-width: 30rem;
  background-color: #292a2f;
  margin: 1rem;
  border-radius: 1.5rem;
  color: #fff;
}

.tasklist__header__name {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  text-transform: capitalize;
}

.tasklist__header__name span {
  flex-grow: 1;
}

.tasklist__tasks {
  margin-top: 2rem;
  max-height: 64vh;
  scroll-behavior: auto;
  overflow-y: auto;
  overflow-x: hidden;

  -ms-overflow-style: none; /* Hide the scrollbar in IE and Microsoft-Edge */
  scrollbar-width: none; /* SUPPORTED IN FIREFOX. Not supported in google-chrome, IE & Microsoft-Edge*/
}

/* FOR GOOGLE-CHROME: to hide scrollbar*/
.tasklist__tasks::-webkit-scrollbar {
  display: none;
}

.menu-item > input {
  cursor: pointer;
}

.tasklist_completed_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.tasklist_completed {
  font-size: 1.6rem;
  font-weight: 500;
  color: gray;
}

.tasklist_completed_container > .down_arrow,
.up_arrow {
  color: gray;
  font-size: 1.6rem;
  font-weight: 500;
}
