.tasklist__container {
    max-height: 75vh;
    min-width: 300px;
    background-color: #292A2F;
    margin: 10px;
    border-radius: 15px;
    color: #fff;
}

.tasklist__header__name {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    font-weight: 500;
}

.tasklist__header__name span{
    flex-grow: 1;
}

.tasklist__tasks {
    margin-top: 20px;
    max-height: 60vh;
    scroll-behavior: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-item > input {
    cursor: pointer;
}

.tasklist_completed_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    cursor: pointer;
}

.tasklist_completed {
    font-size: 1rem;
    font-weight: 500;
    color: gray;
}

.tasklist_completed_container > .down_arrow, .up_arrow {
    color: gray;
    font-size: 1rem;
    font-weight: 500;
}